## 1. Load library

In [33]:
# basic library
import pandas as pd
import random
import os
import numpy as np
import warnings
import time
import datetime

# option library
warnings.filterwarnings('ignore')

# preprocessing library
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# model library
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold,StratifiedKFold
import lightgbm as lgb

# metrics library(평가지표)
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import classification_report

# validation library(검증)
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_validate

# optuna library
import optuna
from optuna.samplers import TPESampler
from sklearn.model_selection import train_test_split

In [2]:
# Seed 고정
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37)

## 2. Load Data

In [3]:
train_df = pd.read_csv('../train.csv')
test_df = pd.read_csv('../test.csv')

* Columns
 - Y_class : 제품 품질 상태(Target)
   + 0 : 적정 기준 미달 (부적합)
   + 1 : 적합
   + 2 : 적정 기준 초과 (부적합)
 - Y_Quality : 제품 품질 관련 정량적 수치
 - TIMESTAMP : 제품이 공정에 들어간 시각
 - LINE : 제품이 들어간 공정 LINE 종류  ('T050304','T050307','T100304','T010306','T010305')
 - PRODUCT_CODE : 제품의 CODE 번호('A_31', 'T_31', 'O_31')
 - X_1 ~ X_2875 : 공정 과정에서 추출되어 비식별화된 변수

## 3. 데이터 확인

In [4]:
# train데이터 
train_df

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,2.0,95.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,40.0,94.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,21.0,87.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#test 데이터
test_df

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,2022-11-05 11:18,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,TEST_306,2022-11-05 16:39,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,TEST_307,2022-11-05 16:47,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,TEST_308,2022-11-05 20:53,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,TEST_309,2022-11-05 21:01,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> #### 데이터 공정라인과 제품번호 확인

In [6]:
qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    print(np.unique(test_x[i]))

NameError: name 'test_x' is not defined

## 4. Data PreProcessing

In [7]:
# test data와 train data 에서 분류할 colums LINE,PRODUCT_CODE,X데이터만 남김
test_x = test_df.drop(columns = ['PRODUCT_ID','TIMESTAMP'])
train_x = train_df.drop(columns = ['PRODUCT_ID','TIMESTAMP','Y_Class','Y_Quality'])

In [8]:
# Train데이터에서 분류된 Y_Class train_y
train_y = train_df['Y_Class']

In [9]:
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
train_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,T100304,O_31,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,T100306,O_31,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
train_y

0      1
1      2
2      1
3      2
4      1
      ..
593    1
594    0
595    0
596    1
597    1
Name: Y_Class, Length: 598, dtype: int64

#### Label Encoding

In [12]:
qual_col = ['LINE','PRODUCT_CODE'] # 변환 할 피처

In [13]:
for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])
    
    for label in np.unique(test_x[i]): 
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test_x[i] = le.transform(test_x[i])

- qualitative to quantitative : 정성적 데이터(비정형데이터, 문자나 언어의 텍스트 파일)을 정량적 데이터로 수치화하는 전처리 작업
- le.fit() : 학습 시 고유 피처들을 학습하여 고유번호를 지정
- le.transform() : 각 피처값을 해당하는 학습된 고유값으로 변환
- .classes_ : 고유번호 0번부터 고유값에 대한 원본 데이터 값을 가지고 있음
- np.append(대상 어레이,추가할 값, 파라미터축)

In [14]:
train_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,5,2,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,4,1,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,5,1,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,5,2,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,2,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,2,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,5,2,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,4,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,5,2,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,5,2,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,5,2,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 정규화

In [16]:
columns_x = train_x.columns.str.contains('X')
print(columns_x)

[False False  True ...  True  True  True]

In [17]:
x_col = train_x.columns[train_x.columns.str.contains('X')].tolist()
print(x_col[:10])

['X_1', 'X_2', 'X_3', 'X_4', 'X_5', 'X_6', 'X_7', 'X_8', 'X_9', 'X_10']

- .columns.str.contains("a") : a라는 문자가 들어있는 문자열 모두 찾음

In [18]:
train_x[x_col]

,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,52.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
scaler = MinMaxScaler()
scaler.fit(train_x[x_col])
  
train_x[x_col] = scaler.transform(train_x[x_col])
test_x[x_col] = scaler.transform(test_x[x_col])
  
train_x.head()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256757,0.248647,0.000000,0.122283,0.890487,NaN,NaN,NaN,NaN,NaN
1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.240754,0.300866,0.407899,0.164742,0.601770,NaN,NaN,NaN,NaN,NaN
2,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.251422,0.133929,0.355835,0.205163,0.922566,NaN,NaN,NaN,NaN,NaN
3,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.199858,0.202110,0.704129,0.003057,0.559181,NaN,NaN,NaN,NaN,NaN
4,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.233997,0.275703,0.515978,0.088315,0.846239,NaN,NaN,NaN,NaN,NaN

#### 결측값(NaN) 평균으로 채우기

In [20]:
train_x = train_x.fillna(train_x.mean())# mean 연산시 nan값은 분석 대상에서 제외
test_x = test_x.fillna(train_x.mean())
# train_x = train_x.fillna(0)# mean 연산시 nan값은 분석 대상에서 제외
# test_x = test_x.fillna(0)

In [21]:
train_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.256757,0.248647,0.000000,0.122283,0.890487,0.0,NaN,NaN,NaN,NaN
1,3,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.240754,0.300866,0.407899,0.164742,0.601770,0.0,NaN,NaN,NaN,NaN
2,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.251422,0.133929,0.355835,0.205163,0.922566,0.0,NaN,NaN,NaN,NaN
3,3,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.199858,0.202110,0.704129,0.003057,0.559181,0.0,NaN,NaN,NaN,NaN
4,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.233997,0.275703,0.515978,0.088315,0.846239,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,5,2,0.009804,0.533333,0.0,0.0,0.00000,0.0,0.294118,0.000000,...,0.664555,0.592741,0.612072,0.719083,0.275426,0.0,NaN,NaN,NaN,NaN
594,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.616999,0.578193,0.658169,0.835938,0.266593,0.0,NaN,NaN,NaN,NaN
595,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.664555,0.592741,0.612072,0.719083,0.275426,0.0,NaN,NaN,NaN,NaN
596,4,1,0.382353,0.466667,0.0,0.0,1.00000,0.0,0.000000,0.000000,...,0.664555,0.592741,0.612072,0.719083,0.275426,0.0,NaN,NaN,NaN,NaN
597,5,1,0.196078,0.000000,0.0,0.0,0.00000,0.0,0.941176,0.000000,...,0.664555,0.592741,0.612072,0.719083,0.275426,0.0,NaN,NaN,NaN,NaN

#### 전체 결측값(Null)인 X변수 Drop하기

In [22]:
# 결측값 확인
train_x.isnull()

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
597,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [23]:
train_x.isnull().sum()

LINE              0
PRODUCT_CODE      0
X_1               0
X_2               0
X_3               0
               ...
X_2871            0
X_2872          598
X_2873          598
X_2874          598
X_2875          598
Length: 2877, dtype: int64

In [24]:
# 결측값있는 열 전체 삭제
train_x = train_x.dropna(axis =1)
test_x = test_x.dropna(axis=1)

In [25]:
train_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.918723,0.100000,0.113966,0.119565,0.256757,0.248647,0.000000,0.122283,0.890487,0.0
1,3,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.869376,0.100000,0.107939,0.119565,0.240754,0.300866,0.407899,0.164742,0.601770,0.0
2,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.577649,0.100000,0.103476,0.119565,0.251422,0.133929,0.355835,0.205163,0.922566,0.0
3,3,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.582003,0.110000,0.123562,0.119565,0.199858,0.202110,0.704129,0.003057,0.559181,0.0
4,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.825835,0.100000,0.103810,0.108696,0.233997,0.275703,0.515978,0.088315,0.846239,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,5,2,0.009804,0.533333,0.0,0.0,0.00000,0.0,0.294118,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
594,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.624093,0.110000,0.130258,0.119565,0.616999,0.578193,0.658169,0.835938,0.266593,0.0
595,2,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.448476,0.100000,0.100229,0.108696,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
596,4,1,0.382353,0.466667,0.0,0.0,1.00000,0.0,0.000000,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
597,5,1,0.196078,0.000000,0.0,0.0,0.00000,0.0,0.941176,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0

In [26]:
test_x

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,5,2,0.009804,0.466667,0.0,0.0,0.00000,0.0,0.352941,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
1,4,2,0.009804,0.400000,0.0,0.0,1.00000,0.0,0.000000,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
2,4,2,0.009804,0.533333,0.0,0.0,1.00000,0.0,0.000000,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
3,0,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.843251,0.940000,0.930103,0.880435,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
4,1,0,0.013821,0.541547,0.0,0.0,0.39255,0.0,0.223664,0.048711,...,0.783745,0.920000,0.919557,0.880435,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,5,2,0.009804,0.266667,0.0,0.0,0.00000,0.0,0.352941,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
306,4,2,0.009804,0.600000,0.0,0.0,1.00000,0.0,0.000000,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
307,5,2,0.009804,0.266667,0.0,0.0,0.00000,0.0,0.294118,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
308,5,2,0.009804,0.533333,0.0,0.0,0.00000,0.0,0.352941,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0
309,5,2,0.009804,0.000000,0.0,0.0,0.00000,0.0,0.352941,0.000000,...,0.545584,0.505582,0.520356,0.500698,0.664555,0.592741,0.612072,0.719083,0.275426,0.0

## 5. Modeling

#### RandomForestClassifier

In [27]:
train_x.shape, train_y.shape, test_x.shape

((598, 2795), (598,), (310, 2795))

In [28]:
rf_train_xx,rf_valid_xx,rf_train_yy,rf_valid_yy = train_test_split(train_x,train_y,test_size = 0.2, shuffle = True, random_state=42)

In [90]:
params = {'max_depth': 5, 'min_samples_leaf': 7, 'min_samples_split': 6, 'n_estimators': 2000}
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators=500, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795).fit(rf_train_xx,rf_train_yy)

In [86]:
rf_cls.predict(rf_valid_xx)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 2,
       1, 1, 1, 0, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [91]:
print(rf_cls.oob_score_)

0.7531380753138075

In [88]:
print(rf_cls.score(rf_valid_xx,rf_valid_yy))

0.75

In [106]:
rf_cls = RandomForestClassifier(max_depth = 4,n_estimators=500, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7531380753138075 0.7166666666666667

In [107]:
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators=500, min_samples_leaf=4,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7594142259414226 0.725

In [108]:
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators=2000, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7573221757322176 0.7333333333333333

In [110]:
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators= 2000, min_samples_leaf=4,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7594142259414226 0.725

In [111]:
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators=1000, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7510460251046025 0.7333333333333333

In [113]:
rf_cls = RandomForestClassifier(n_estimators=1000, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 2 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7510460251046025 0.7166666666666667

In [112]:
rf_cls = RandomForestClassifier(max_depth = 15,n_estimators=1000, min_samples_leaf=5,oob_score = True, min_samples_split=9, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 2 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7552301255230126 0.7166666666666667

In [105]:
rf_cls = RandomForestClassifier(max_depth = 5,n_estimators=500, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7594142259414226 0.7166666666666667

* * *

In [114]:
rf_cls = RandomForestClassifier(n_estimators=1000, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 0 1 0 1 1 1]
0.7510460251046025 0.7333333333333333

In [29]:
rf_cls = RandomForestClassifier(n_estimators=500, min_samples_leaf=5,oob_score = True, min_samples_split=7, max_features=2795,random_state=42).fit(rf_train_xx,rf_train_yy)
print(rf_cls.predict(rf_valid_xx))
print(rf_cls.oob_score_,rf_cls.score(rf_valid_xx,rf_valid_yy))

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 1 1 2 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 0 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 0 1
 1 2 1 0 1 0 1 1 1]
0.7531380753138075 0.7166666666666667

In [115]:
rf_pred=rf_cls.predict(test_x)

In [116]:
submit = pd.read_csv('../sample_submission.csv')
submit['Y_Class'] = rf_pred
submit.to_csv('./ffinal_rf_pred.csv',index=False)

#### RandomForestClassifier

In [78]:
from optuna.samplers import TPESampler# objective와 study를 정의하고, n_trails 파라미터를 조정하여 몇 회의 trial 수행할지 설정하는 방식
def objective(trial,X,y,cv,scoring):
    param = {
        'objective': 'multiclass',
        'verbose': -1, 
        'learning_rate': trial.suggest_loguniform("learning_rate", 0.1, 0.3),
        'n_estimators': trial.suggest_int('n_estimators', 500, 2000),
        'subsample' : 0.7,
        'colsample_bytree' : 0.7,
        'num_leaves' : 31,
        'max_depth' : -1
    }

    model_lgb = lgb.LGBMClassifier(**param)## *arg는 튜플형식가변인자, **kwargs 딕셔너리 키워드 
    scores = cross_validate(model_lgb, X,y,cv = cv, scoring = scoring)#eval_set 검증데이터 셋 지정, early_stoping_rounds : 검증데이터n개를 학습기를 통해 가중치 부여하며 오류개선 -> n_estimators횟수반복 ->loss나 성능지표가 100회 동안 향상되지 않으면 조기종료
    accuracy = scores["test_score"].mean()
    return accuracy

In [79]:
sampler = TPESampler(seed = 10)
#study_name='lgbm_papameter_opt',
study_lgb = optuna.create_study(direction='maximize',study_name="lgbm_parameter_opt") #>> study 정의 minimize: logloss를 최소화 시켜주는 방향으로 튜닝하고 싶을경우. accuracy, roc-auc 같은 경우는 최대화 시켜주는 방향으로 maximize로 설정
study_lgb.set_user_attr("verbose", True)
kf = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 42)

# func = lambda trial: objective(trial, train_x, train_y, cv = kf , scoring = "accuracy")
study_lgb.optimize(lambda trial: objective(trial, train_x, train_y, cv = kf , scoring = "accuracy"), n_trials = 10) # optimize 최적함수 파라미터 찾는것. 즉 최적화

[I 2024-05-01 17:02:45,931] A new study created in memory with name: lgbm_parameter_opt
[I 2024-05-01 17:03:12,376] Trial 0 finished with value: 0.7624509803921569 and parameters: {'learning_rate': 0.17347246719186413, 'n_estimators': 1515}. Best is trial 0 with value: 0.7624509803921569.
[I 2024-05-01 17:03:43,654] Trial 1 finished with value: 0.7641316526610644 and parameters: {'learning_rate': 0.10216914281216279, 'n_estimators': 1264}. Best is trial 1 with value: 0.7641316526610644.
[I 2024-05-01 17:04:03,880] Trial 2 finished with value: 0.7557563025210084 and parameters: {'learning_rate': 0.23977046437086363, 'n_estimators': 1102}. Best is trial 1 with value: 0.7641316526610644.
[I 2024-05-01 17:04:29,838] Trial 3 finished with value: 0.7607422969187676 and parameters: {'learning_rate': 0.26381140948762577, 'n_estimators': 1558}. Best is trial 1 with value: 0.7641316526610644.
[I 2024-05-01 17:04:52,259] Trial 4 finished with value: 0.7657422969187675 and parameters: {'learning_rate': 0.21959321294718126, 'n_estimators': 1249}. Best is trial 4 with value: 0.7657422969187675.
[I 2024-05-01 17:05:15,624] Trial 5 finished with value: 0.7607703081232493 and parameters: {'learning_rate': 0.21176120613882676, 'n_estimators': 1472}. Best is trial 4 with value: 0.7657422969187675.
[I 2024-05-01 17:05:36,189] Trial 6 finished with value: 0.7624649859943977 and parameters: {'learning_rate': 0.25086162399889583, 'n_estimators': 997}. Best is trial 4 with value: 0.7657422969187675.
[I 2024-05-01 17:06:03,951] Trial 7 finished with value: 0.7690756302521009 and parameters: {'learning_rate': 0.17098992291874773, 'n_estimators': 1525}. Best is trial 7 with value: 0.7690756302521009.
[I 2024-05-01 17:06:28,482] Trial 8 finished with value: 0.7607703081232493 and parameters: {'learning_rate': 0.10929769752512924, 'n_estimators': 739}. Best is trial 7 with value: 0.7690756302521009.
[I 2024-05-01 17:06:48,976] Trial 9 finished with value: 0.7607422969187676 and parameters: {'learning_rate': 0.23363244125177218, 'n_estimators': 1190}. Best is trial 7 with value: 0.7690756302521009.

In [80]:
print(f"accuracy_score : {(study_lgb.best_value)*100}%")
print(f"best Trial:score{study_lgb.best_trial.value}")
for key, value in study_lgb.best_trial.params.items():
    print(f"\t{key} : {value}")

accuracy_score : 76.9075630252101%
best Trial:score0.7690756302521009
	learning_rate : 0.17098992291874773
	n_estimators : 1525

In [82]:
sampler = TPESampler(seed = 10)
#study_name='lgbm_papameter_opt',
study_lgb = optuna.create_study(direction='maximize',study_name="lgbm_parameter_opt") #>> study 정의 minimize: logloss를 최소화 시켜주는 방향으로 튜닝하고 싶을경우. accuracy, roc-auc 같은 경우는 최대화 시켜주는 방향으로 maximize로 설정
study_lgb.set_user_attr("verbose", True)
kf = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 42)

# func = lambda trial: objective(trial, train_x, train_y, cv = kf , scoring = "accuracy")
study_lgb.optimize(lambda trial: objective(trial, train_x, train_y, cv = kf , scoring = "accuracy"), n_trials = 10) # optimize 최적함수 파라미터 찾는것. 즉 최적화

[I 2024-05-01 17:17:03,389] A new study created in memory with name: lgbm_parameter_opt
[I 2024-05-01 17:17:32,017] Trial 0 finished with value: 0.7691176470588236 and parameters: {'learning_rate': 0.17385153349534938, 'n_estimators': 1860}. Best is trial 0 with value: 0.7691176470588236.
[I 2024-05-01 17:17:59,598] Trial 1 finished with value: 0.7741036414565826 and parameters: {'learning_rate': 0.13276227318892456, 'n_estimators': 1429}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:18:29,857] Trial 2 finished with value: 0.7640896358543418 and parameters: {'learning_rate': 0.1306125282207722, 'n_estimators': 1668}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:18:54,412] Trial 3 finished with value: 0.7691036414565826 and parameters: {'learning_rate': 0.27479486139487713, 'n_estimators': 1402}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:19:17,907] Trial 4 finished with value: 0.767436974789916 and parameters: {'learning_rate': 0.11831022458028548, 'n_estimators': 550}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:19:51,008] Trial 5 finished with value: 0.7657282913165266 and parameters: {'learning_rate': 0.18138126803452864, 'n_estimators': 1591}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:20:20,044] Trial 6 finished with value: 0.7657703081232493 and parameters: {'learning_rate': 0.11145124732642121, 'n_estimators': 1090}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:20:47,456] Trial 7 finished with value: 0.7691176470588236 and parameters: {'learning_rate': 0.1253735270858312, 'n_estimators': 1348}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:21:14,902] Trial 8 finished with value: 0.7690896358543418 and parameters: {'learning_rate': 0.19725875662006417, 'n_estimators': 1576}. Best is trial 1 with value: 0.7741036414565826.
[I 2024-05-01 17:21:39,268] Trial 9 finished with value: 0.767436974789916 and parameters: {'learning_rate': 0.25937773438120687, 'n_estimators': 1591}. Best is trial 1 with value: 0.7741036414565826.

In [83]:
print(f"accuracy_score : {(study_lgb.best_value)*100}%")
print(f"best Trial:score{study_lgb.best_trial.value}")
for key, value in study_lgb.best_trial.params.items():
    print(f"\t{key} : {value}")

accuracy_score : 77.41036414565826%
best Trial:score0.7741036414565826
	learning_rate : 0.13276227318892456
	n_estimators : 1429

In [86]:
trial_params = study_lgb.best_trial.params

In [85]:
a={'subsample' : 0.7,
        'colsample_bytree' : 0.7,
        'num_leaves' : 31,
        'max_depth' : -1}

In [87]:
trial_params.update(a)
trial_params

{'learning_rate': 0.13276227318892456,
 'n_estimators': 1429,
 'subsample': 0.7,
 'colsample_bytree': 0.7,
 'num_leaves': 31,
 'max_depth': -1}

In [100]:
tt_params = {'learning_rate': 0.2005982042454876,
 'n_estimators': 1623,
 'subsample': 0.7,
 'colsample_bytree': 0.7,
 'num_leaves': 31,
 'max_depth': -1}

In [101]:
#oof 4번학습 결과 도출
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state= 42)

test_preds = np.zeros((test_x.shape[0],3))
oof_preds = np.zeros((train_x.shape[0],3))# 학습된 모델의 valitation set 을 예측하여 결과 확률을 담을 array 생성// np.zeros : 0으로 채워진 [shape] 생성

final_lgb_model = lgb.LGBMClassifier(**tt_params, random_state=42)#optuna로 찾은 최적 하이퍼파라미터 적용
for fold_idx, (train_idx, valid_idx) in enumerate(folds.split(train_x,train_y)):#train_x 데이터를 count idx, 학습 검증데이터 분류 idx
    print('##### interation', fold_idx, ' 시작')
    train_xxx = train_x.iloc[train_idx, :]#분류된 train_idx 값에 맞는 데이터 저장
    train_yyy = train_y.iloc[train_idx]
    valid_xxx = train_x.iloc[valid_idx, :]
    valid_yyy = train_y.iloc[valid_idx]
    final_lgb_model.fit(train_xxx, train_yyy, eval_set=(valid_xxx, valid_yyy), verbose=200, early_stopping_rounds = 50)
#     oof_preds[valid_idx] = final_lgb_model.predict_proba(valid_xxx, num_iteration=final_lgb_model.best_iteration_)
#     test_preds += final_lgb_model.predict_proba(test_x, num_iteration = final_lgb_model.best_iteration_)/folds.n_splits
    oof_preds[valid_idx] = final_lgb_model.predict_proba(valid_xxx, num_iteration=final_lgb_model.best_iteration_)
    test_preds += final_lgb_model.predict_proba(test_x, num_iteration = final_lgb_model.best_iteration_)/folds.n_splits

##### interation 0  시작
##### interation 1  시작
##### interation 2  시작
##### interation 3  시작
##### interation 4  시작
##### interation 5  시작
##### interation 6  시작
##### interation 7  시작
##### interation 8  시작
##### interation 9  시작

In [102]:
oof_preds

array([[0.09701797, 0.84967826, 0.05330376],
       [0.00461673, 0.04255622, 0.95282705],
       [0.08535724, 0.8145318 , 0.10011096],
       ...,
       [0.78754339, 0.13360472, 0.0788519 ],
       [0.11389229, 0.70869101, 0.1774167 ],
       [0.08904625, 0.86702169, 0.04393206]])

In [103]:
test_preds

array([[0.07410409, 0.84189811, 0.0839978 ],
       [0.10764823, 0.68440007, 0.20795171],
       [0.09607336, 0.76153637, 0.14239027],
       [0.14315532, 0.78016473, 0.07667995],
       [0.11350663, 0.63802402, 0.24846935],
       [0.10311272, 0.57854884, 0.31833844],
       [0.11585087, 0.76173625, 0.12241288],
       [0.438658  , 0.4734785 , 0.0878635 ],
       [0.4033046 , 0.49504716, 0.10164824],
       [0.08381622, 0.55501149, 0.36117228],
       [0.1075339 , 0.80946265, 0.08300345],
       [0.06775311, 0.79588661, 0.13636028],
       [0.06424132, 0.48435858, 0.4514001 ],
       [0.55267436, 0.17618256, 0.27114308],
       [0.75870685, 0.18323774, 0.05805541],
       [0.14203113, 0.76257552, 0.09539334],
       [0.09359328, 0.74302381, 0.16338291],
       [0.06358563, 0.81764541, 0.11876896],
       [0.04983112, 0.84243304, 0.10773584],
       [0.08168278, 0.67889066, 0.23942656],
       [0.07559537, 0.84934139, 0.07506324],
       [0.06320408, 0.73293803, 0.20385789],
       [0.14874492, 0.63631393, 0.21494116],
       [0.1106083 , 0.80585115, 0.08354055],
       [0.07130278, 0.83695771, 0.09173951],
       [0.06982125, 0.8512631 , 0.07891566],
       [0.08352496, 0.71628601, 0.20018903],
       [0.08621833, 0.81243267, 0.101349  ],
       [0.09557479, 0.77050987, 0.13391534],
       [0.07924879, 0.67486026, 0.24589095],
       [0.06054587, 0.86685208, 0.07260205],
       [0.04712453, 0.82342048, 0.12945499],
       [0.0793998 , 0.82921017, 0.09139003],
       [0.08538697, 0.82386799, 0.09074504],
       [0.07202005, 0.71982435, 0.2081556 ],
       [0.73583229, 0.16670544, 0.09746226],
       [0.51164956, 0.22195504, 0.2663954 ],
       [0.56894037, 0.37508407, 0.05597556],
       [0.11555781, 0.45400339, 0.4304388 ],
       [0.49255925, 0.41812387, 0.08931688],
       [0.24669674, 0.38950765, 0.36379561],
       [0.63469579, 0.23149635, 0.13380786],
       [0.63091555, 0.2448584 , 0.12422605],
       [0.07992091, 0.76497657, 0.15510253],
       [0.13625748, 0.75159652, 0.112146  ],
       [0.09296656, 0.73574853, 0.17128491],
       [0.09456664, 0.63603502, 0.26939834],
       [0.18502124, 0.75936042, 0.05561834],
       [0.06627827, 0.8145185 , 0.11920323],
       [0.17478709, 0.77474706, 0.05046585],
       [0.08725496, 0.71681222, 0.19593282],
       [0.12067635, 0.82576528, 0.05355837],
       [0.61861217, 0.3095413 , 0.07184653],
       [0.56477733, 0.36613281, 0.06908986],
       [0.63446778, 0.30756652, 0.0579657 ],
       [0.11171291, 0.80893968, 0.07934742],
       [0.08420263, 0.78133953, 0.13445783],
       [0.0697427 , 0.84438378, 0.08587353],
       [0.13207939, 0.78817263, 0.07974798],
       [0.09844298, 0.81113541, 0.0904216 ],
       [0.1356275 , 0.78200031, 0.08237219],
       [0.35520804, 0.43869529, 0.20609667],
       [0.56077997, 0.13756287, 0.30165716],
       [0.49288789, 0.16418392, 0.34292819],
       [0.67264573, 0.16655259, 0.16080167],
       [0.74981958, 0.16354824, 0.08663217],
       [0.53896639, 0.34815449, 0.11287912],
       [0.07123001, 0.81886626, 0.10990373],
       [0.07950437, 0.76538905, 0.15510658],
       [0.08292411, 0.75963028, 0.15744561],
       [0.09219335, 0.78504175, 0.12276489],
       [0.70419878, 0.23764164, 0.05815957],
       [0.17392795, 0.47862927, 0.34744277],
       [0.09074953, 0.78452881, 0.12472166],
       [0.07378846, 0.79610608, 0.13010546],
       [0.07315193, 0.80786332, 0.11898475],
       [0.05452629, 0.76190478, 0.18356893],
       [0.09527522, 0.72211352, 0.18261127],
       [0.08946784, 0.71373093, 0.19680122],
       [0.16324142, 0.52901531, 0.30774327],
       [0.10440736, 0.73033285, 0.16525979],
       [0.08612852, 0.74053884, 0.17333263],
       [0.07874901, 0.75461136, 0.16663963],
       [0.076976  , 0.79682239, 0.12620161],
       [0.08914824, 0.7303934 , 0.18045836],
       [0.04870402, 0.84307835, 0.10821763],
       [0.51402237, 0.44393771, 0.04203992],
       [0.05627543, 0.71627783, 0.22744674],
       [0.59745159, 0.36086134, 0.04168707],
       [0.17550085, 0.78688382, 0.03761533],
       [0.08700721, 0.74070186, 0.17229093],
       [0.08853004, 0.76148638, 0.14998358],
       [0.14248093, 0.6565518 , 0.20096727],
       [0.05545068, 0.77524851, 0.16930081],
       [0.07257449, 0.83020629, 0.09721923],
       [0.05608246, 0.81683836, 0.12707918],
       [0.07474399, 0.73921173, 0.18604428],
       [0.06688274, 0.77510687, 0.15801039],
       [0.0679175 , 0.81423572, 0.11784678],
       [0.05361685, 0.78492048, 0.16146267],
       [0.0836264 , 0.79716371, 0.1192099 ],
       [0.06772178, 0.7268041 , 0.20547411],
       [0.06222428, 0.83862888, 0.09914684],
       [0.07310335, 0.75304312, 0.17385353],
       [0.09591876, 0.720746  , 0.18333524],
       [0.07348808, 0.76851412, 0.1579978 ],
       [0.06147783, 0.74001251, 0.19850966],
       [0.15869689, 0.67717336, 0.16412976],
       [0.06205729, 0.71445293, 0.22348977],
       [0.06830146, 0.6306627 , 0.30103584],
       [0.06516178, 0.80813624, 0.12670199],
       [0.07258543, 0.84296353, 0.08445105],
       [0.06203944, 0.80956741, 0.12839315],
       [0.05308755, 0.80381572, 0.14309673],
       [0.06712957, 0.5463954 , 0.38647503],
       [0.06613388, 0.59917423, 0.33469189],
       [0.23436472, 0.71256116, 0.05307411],
       [0.16585433, 0.78587411, 0.04827156],
       [0.07324454, 0.84057944, 0.08617601],
       [0.0746548 , 0.76762401, 0.15772119],
       [0.0770879 , 0.82500194, 0.09791016],
       [0.08859601, 0.82033231, 0.09107167],
       [0.10889799, 0.71851294, 0.17258906],
       [0.07627669, 0.78601176, 0.13771155],
       [0.11042042, 0.80157854, 0.08800104],
       [0.13795185, 0.72487135, 0.13717681],
       [0.07390946, 0.74579936, 0.18029118],
       [0.06126038, 0.84793539, 0.09080423],
       [0.198187  , 0.52902463, 0.27278837],
       [0.19925662, 0.52109537, 0.27964801],
       [0.35815874, 0.29415873, 0.34768252],
       [0.29593641, 0.37970669, 0.3243569 ],
       [0.38625222, 0.31986846, 0.29387932],
       [0.08682546, 0.81977714, 0.0933974 ],
       [0.06442456, 0.82680542, 0.10877002],
       [0.06375399, 0.80963093, 0.12661508],
       [0.14086908, 0.62061323, 0.23851769],
       [0.09764334, 0.75488557, 0.14747109],
       [0.11602133, 0.68880962, 0.19516905],
       [0.1041614 , 0.80823495, 0.08760364],
       [0.14149568, 0.70830491, 0.15019942],
       [0.17044443, 0.75468883, 0.07486674],
       [0.16383654, 0.75317454, 0.08298892],
       [0.0819097 , 0.67407624, 0.24401406],
       [0.12624229, 0.64672422, 0.2270335 ],
       [0.08709551, 0.77891496, 0.13398953],
       [0.06407203, 0.84749174, 0.08843622],
       [0.10811719, 0.60591448, 0.28596833],
       [0.12334117, 0.78413406, 0.09252478],
       [0.11940969, 0.76430267, 0.11628764],
       [0.11260235, 0.75785015, 0.1295475 ],
       [0.11636923, 0.69020775, 0.19342302],
       [0.129576  , 0.73456459, 0.13585941],
       [0.12035509, 0.68697557, 0.19266934],
       [0.06373918, 0.85491432, 0.0813465 ],
       [0.07719847, 0.75650955, 0.16629198],
       [0.09551571, 0.79342179, 0.1110625 ],
       [0.10459626, 0.73399747, 0.16140627],
       [0.10524372, 0.68244929, 0.21230698],
       [0.09401131, 0.71286758, 0.19312111],
       [0.08821537, 0.70158354, 0.21020109],
       [0.13274564, 0.60691327, 0.26034109],
       [0.0862845 , 0.80302979, 0.1106857 ],
       [0.1011099 , 0.73579881, 0.16309129],
       [0.10089935, 0.78988523, 0.10921543],
       [0.06782111, 0.78012609, 0.1520528 ],
       [0.11509254, 0.74935831, 0.13554915],
       [0.09915205, 0.77229446, 0.12855349],
       [0.10408073, 0.79447541, 0.10144386],
       [0.06319863, 0.72793384, 0.20886753],
       [0.08846863, 0.76351189, 0.14801948],
       [0.1045593 , 0.73641533, 0.15902537],
       [0.08525636, 0.68185362, 0.23289002],
       [0.08557605, 0.82579616, 0.08862778],
       [0.05822812, 0.82779381, 0.11397807],
       [0.09575023, 0.82629755, 0.07795222],
       [0.04299154, 0.81702105, 0.13998741],
       [0.06239452, 0.6558939 , 0.28171158],
       [0.06343109, 0.85236382, 0.08420509],
       [0.08936896, 0.66994075, 0.24069029],
       [0.04827969, 0.80951528, 0.14220502],
       [0.07383615, 0.83529231, 0.09087154],
       [0.07616279, 0.79342692, 0.13041029],
       [0.04660012, 0.82165512, 0.13174476],
       [0.05153437, 0.85506275, 0.09340289],
       [0.07423893, 0.83798686, 0.08777422],
       [0.05435093, 0.86393891, 0.08171016],
       [0.05419972, 0.7421586 , 0.20364169],
       [0.08453437, 0.76122197, 0.15424366],
       [0.04025454, 0.8115876 , 0.14815785],
       [0.0759362 , 0.79804005, 0.12602375],
       [0.0417436 , 0.80050971, 0.15774669],
       [0.06386804, 0.83887196, 0.09726   ],
       [0.04032511, 0.8173003 , 0.14237459],
       [0.06230443, 0.80436389, 0.13333168],
       [0.04076114, 0.89052113, 0.06871774],
       [0.08876984, 0.82067145, 0.09055871],
       [0.06578935, 0.84734547, 0.08686518],
       [0.066779  , 0.80191992, 0.13130108],
       [0.05405223, 0.87946897, 0.0664788 ],
       [0.09218831, 0.79737857, 0.11043312],
       [0.07994921, 0.84929375, 0.07075705],
       [0.05510848, 0.81051521, 0.13437631],
       [0.07925949, 0.851697  , 0.0690435 ],
       [0.06489354, 0.80177363, 0.13333283],
       [0.05735942, 0.82578417, 0.11685641],
       [0.06330601, 0.84341565, 0.09327834],
       [0.0708714 , 0.86670045, 0.06242815],
       [0.09255384, 0.78581106, 0.1216351 ],
       [0.06871017, 0.76336743, 0.16792241],
       [0.06283733, 0.84933111, 0.08783155],
       [0.1088382 , 0.74319869, 0.14796311],
       [0.04977482, 0.87888988, 0.0713353 ],
       [0.05498585, 0.78582567, 0.15918848],
       [0.07057845, 0.75791052, 0.17151103],
       [0.07186763, 0.83708887, 0.0910435 ],
       [0.08720977, 0.78291295, 0.12987728],
       [0.070277  , 0.81792607, 0.11179693],
       [0.10721177, 0.70601049, 0.18677775],
       [0.07454428, 0.7614671 , 0.16398862],
       [0.06978635, 0.80520502, 0.12500864],
       [0.07274653, 0.84452703, 0.08272644],
       [0.07118722, 0.81686864, 0.11194414],
       [0.076517  , 0.84894474, 0.07453826],
       [0.09637229, 0.83143543, 0.07219229],
       [0.08035753, 0.85611501, 0.06352746],
       [0.06262651, 0.88250572, 0.05486777],
       [0.08176441, 0.83551497, 0.08272063],
       [0.0928313 , 0.80355686, 0.10361184],
       [0.0595682 , 0.87001337, 0.07041842],
       [0.06787112, 0.84927447, 0.08285441],
       [0.06891795, 0.86165967, 0.06942237],
       [0.06069515, 0.76807127, 0.17123358],
       [0.06562865, 0.84720483, 0.08716652],
       [0.04076822, 0.88150553, 0.07772625],
       [0.06966847, 0.84793146, 0.08240008],
       [0.11293267, 0.7935469 , 0.09352043],
       [0.05993626, 0.84605875, 0.09400499],
       [0.050846  , 0.85402611, 0.09512788],
       [0.08483959, 0.77960063, 0.13555978],
       [0.07742942, 0.84666002, 0.07591055],
       [0.05566985, 0.85429584, 0.09003431],
       [0.07198159, 0.85672136, 0.07129705],
       [0.05646002, 0.84232557, 0.10121441],
       [0.05978204, 0.86706455, 0.0731534 ],
       [0.05511757, 0.87285699, 0.07202544],
       [0.06155237, 0.83958424, 0.09886339],
       [0.0509545 , 0.88526796, 0.06377754],
       [0.3834939 , 0.30539035, 0.31111575],
       [0.36691746, 0.28144023, 0.35164231],
       [0.42069199, 0.28471252, 0.2945955 ],
       [0.50380315, 0.20770697, 0.28848988],
       [0.46137495, 0.24277355, 0.29585149],
       [0.50126417, 0.20942215, 0.28931368],
       [0.45077211, 0.24200165, 0.30722624],
       [0.40635336, 0.31468049, 0.27896615],
       [0.04315879, 0.89426957, 0.06257164],
       [0.05090754, 0.87313894, 0.07595352],
       [0.05213867, 0.87415425, 0.07370707],
       [0.04497487, 0.8902584 , 0.06476673],
       [0.17887465, 0.25348517, 0.56764018],
       [0.06602501, 0.8696308 , 0.06434419],
       [0.05987665, 0.85668993, 0.08343343],
       [0.32547204, 0.33806876, 0.33645921],
       [0.04839038, 0.88153649, 0.07007313],
       [0.04705987, 0.89245003, 0.0604901 ],
       [0.06699031, 0.8764624 , 0.05654729],
       [0.05964352, 0.88219112, 0.05816536],
       [0.03575233, 0.90772167, 0.056526  ],
       [0.10789267, 0.77665216, 0.11545516],
       [0.05214666, 0.87092551, 0.07692783],
       [0.08804902, 0.84123097, 0.07072   ],
       [0.07060124, 0.78403733, 0.14536143],
       [0.09198642, 0.8411332 , 0.06688038],
       [0.05635301, 0.84510253, 0.09854445],
       [0.06999592, 0.85599163, 0.07401244],
       [0.0530065 , 0.89345372, 0.05353978],
       [0.03385244, 0.90505052, 0.06109704],
       [0.07505799, 0.83954048, 0.08540154],
       [0.10558244, 0.82256708, 0.07185048],
       [0.33020289, 0.35602595, 0.31377117],
       [0.29009303, 0.3446294 , 0.36527757],
       [0.28995239, 0.39902233, 0.31102528],
       [0.34040861, 0.3184855 , 0.34110589],
       [0.43002855, 0.33461765, 0.2353538 ],
       [0.35954821, 0.36374575, 0.27670604],
       [0.27787771, 0.38712437, 0.33499792],
       [0.05481629, 0.85490756, 0.09027615],
       [0.08121158, 0.83774611, 0.08104231],
       [0.05990741, 0.89089377, 0.04919882],
       [0.04690572, 0.89471759, 0.05837668],
       [0.08972609, 0.81743092, 0.092843  ],
       [0.39539258, 0.30124646, 0.30336096],
       [0.31940102, 0.41186555, 0.26873342],
       [0.07756358, 0.86329675, 0.05913967],
       [0.05654052, 0.88317409, 0.06028539],
       [0.06879048, 0.87108821, 0.06012131],
       [0.08175402, 0.83131645, 0.08692954],
       [0.1058297 , 0.77352151, 0.12064879],
       [0.07060289, 0.85462423, 0.07477287],
       [0.05745896, 0.87925999, 0.06328105],
       [0.08111644, 0.85884253, 0.06004102],
       [0.08286429, 0.84625774, 0.07087797],
       [0.06604602, 0.85017038, 0.08378361],
       [0.04540292, 0.88237345, 0.07222363],
       [0.05052595, 0.90082755, 0.0486465 ],
       [0.07109868, 0.8652414 , 0.06365993],
       [0.06117675, 0.8817772 , 0.05704605],
       [0.08379323, 0.84316443, 0.07304234],
       [0.05810323, 0.88747997, 0.05441681]])

In [104]:
lgbm_preds= []
for i in range(len(test_preds)):
     lgbm_preds.append(np.argmax(test_preds[i]))
lgbm_pred = np.array(lgbm_preds)
print(lgbm_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0
 0 1 0 1 0 0 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 1
 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 0 1 1 1 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [106]:
submit = pd.read_csv('../sample_submission.csv')
submit['Y_Class'] = lgbm_pred
submit.to_csv('./ffinal_lgbm_pred.csv',index=False)

In [97]:
lgb_m=lgb.LGBMClassifier(random_state=42)
lgb_m.fit(train_x,train_y)
t_l=lgb_m.predict(test_x)
t_l

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 2, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)